.input-info {
    display: block;
    border-radius: 28px;
    outline: none;
    padding: 15px;
    font: 1.5em 'Open Sans', sans-serif;
    margin-bottom: 10px;
    width: 100%;
}

.added-contact {
    display: block;
    margin: 150px;
}

.btn {
    display: block;
    color: black;
    font: 1.5em 'Open Sans', sans-serif;
}
