@{
    ViewData["Title"] = "Добавление";
}

<div class="added-contact">
    <input class="input-info" type="text" placeholder="Имя">
    <input class="input-info" type="text" placeholder="Фамилия">
    <input class="input-info" type="text" placeholder="Отчество">
    <input class="input-info" type="text" placeholder="Номер">
    <input class="input-info" type="text" placeholder="Адрес">
    <div class="btn">Сохранить</div>
</div>