@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Home</title>
</head>
<body>


  <div>
    Total contact: 2
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Last name</th>
          <th>First name</th>
          <th>Patronymic</th>
          <th>Number phone</th>
          <th>Address</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        
      </tbody>
    </table>
  </div>


</body>
</html>