@using PhoneBook.Web.Models

@model TelephoneBookModel

@{
    ViewData["Title"] = "Редактирование";
}

<div class="edit-container">
    @using (Html.BeginForm("Remove", "Home", FormMethod.Post))
    {
       
    }
</div>