@model List<TelephoneBook>
@using PhoneBook.Domain.Entity
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Контакты";
}

<div>
<p>Всего контактов: @Model.Count</p>
<table class="table">
<thead>
<tr>
    <th>Фамилия</th>
    <th>Имя</th>
    <th>Номер телефона</th>
</tr>
</thead>
<tbody>
    @foreach (var item in Model)
    {                  
        <tr>
            <td>@item.LastName</td>
            <td>@item.FirstName</td>
            <td><a asp-area="" asp-controller="Home" asp-action="About">@item.NumberPhone</a></td>
        </tr>
    }
</tbody>
</table>
</div>
